body {
    background-color: gainsboro;
    font-family: monospace;
}

p { 
    font-family: sans-serif;
    font-size: 15px;
    width: 100%;
}

p.main{
	text-align: left;
	font-family: monospace; 
}
p.right{
	text-align: right;
	font-family: monospace;
}

header {
  background-color: #F1F1F1;
  text-align: center;
  font-size: 5vw;
  background-size: 100%, 100%;
  background-repeat:no-repeat;
  height: 100%;
  padding: 0;
  margin: 2%;
  font-family: monospace;
  border: 5px;
  border-color: black;
  border-style: solid;
  border-width: medium;

}

#navbar {
  overflow: hidden;
  background-color: #303030;
  font-family: monospace;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #696969;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.flex-container {
  display: flex;
  background-color: gainsboro;
  flex-direction: row;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.main-column{
  flex: 2;
  order: 2
}

.sidebar-one{
  flex: 1;
  order: 1;
}

@media (max-width: 800px) {
  .flex-container {
    display: block;
  }
  .flex-container > div {
    width: 90vw;
  }
}
