body {
    margin: 50px auto;
    width: 80%;
    background-image: url("https://imgur.com/Okk17dn");
    background-color: #cccccc;
}
header {
    font-family:'Helvetica', 'Arial';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
h1{
    font-family:'Arial';
    font-size: 20px; 
}
p {
    font-family: 'Times';
    font-size: 12px;
}
