body {
    margin: 50px auto;
    width: 80%;
}
header {
    font-family:'Helvetica', 'Arial';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
h1{
    font-family:'Helevetica';
    font-size: 15px; 
}
