body {
    background-color: gainsboro;
    font-family: 'Trebuchet MS';
}

h1{
  font-size: 7vw;
  color: #C0C0C0;
  
}
header {
  
}

.main-header{
  background-image: url('https://raw.githubusercontent.com/SSEDOR/ssedor.github.io/master/imagehost/greenleaf.jpg');
  background-size: cover;
  background-position: center;
  padding: 15px;
  text-align: center;
}

.images {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: block;
}

.navbar {
  display: flex;
  background-color: #333333;
  font-family: monospace;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

.side-1 {
  flex: .75;
  background-color: #f1f1f1;
  padding: 20px;
  order: 1;
  margin: 2px; 
}

.main {
  flex: 2;
  background-color: #f1f1f1;
  padding: 20px;
  order: 2;
  margin: 2px;
  background-image: url("images/greanyleafy.jpg");
}

.side-2 {
  flex: 1;
  background-color: #f1f1f1;
  padding: 20px;
  order: 2;
  margin: 2px;
  order: 3; 
}

@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
  .side-1{
    order: 2;
  }
  .main{
    order: 1;
  }
}