body {
    background-color: gainsboro;
    font-family: 'Trebuchet MS';
}

h1{
  font-size: 5vw;
  color: white;
  font-family: helevetica;
  
}
header {
  
}

.main-header{
  background-image: url('../imagehost/greenleaf.jpg');
  background-size: cover;
  background-position: center;
  padding: 15px;
  text-align: center;
}

.images {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: block;
}

.navbar {
  display: flex;
  background-color: #333333;
  font-family: monospace;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

a:link, a:visited {
  background-color: #333333;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover{
  background-color: white;
  color: black;
}
.row {  
  display: flex;
  flex-wrap: wrap;
}

.side-1 {
  flex: .75;
  background-color: #f1f1f1;
  padding: 20px;
  order: 1;
  margin: 2px; 
}

.main {
  flex: 2;
  background-color: #f1f1f1;
  padding: 20px;
  order: 2;
  margin: 2px;
  background-image: url("images/greanyleafy.jpg");
}

.side-2 {
  flex: .5;
  background-color: #f1f1f1;
  padding: 20px;
  margin: 2px;
  order: 3; 
}

.side-3 {
  flex: 1;
  background-color: #f1f1f1;
  padding: 20px;
  margin: 2px;
  order: 4; 
  position: relative;
}

.thePictures {
  display: block;
  width: 100%;
  height: auto;

}

.backButton{
  border-radius: 50%;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  background-color: black;
  position: absolute;
  border: 5px white;
  top: 50%;
  left: 0%;
}

.nextButton{
  border-radius: 50%;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  background-color: black;
  position: absolute;
  border: 5px white;
  top: 50%;
  right: 0%;
}
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
  .side-1{
    order: 2;
  }
  .main{
    order: 1;
  }
  .side-2{
    order: 3;
  }
  .side-3{
    order: 4;
  }
}